body {
  background-color: #343838;
}
body> h1 {
  text-align: center;
  color: #00dffc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #008c9e;
}
.container {
  background-color: #fff;
  padding: 15px 30px;
  border: 1px solid #00b4cc;
}
.container .files ul {
  list-style-type: none;
  padding-left: 20px;
}
.container .files ul a[data-toggle="collapse"] {
  cursor: pointer;
}
.container .files ul i {
  margin-right: 5px;
}
.glyphicon-folder-open,
.glyphicon-folder-close {
  color: #f4c261;
}
